@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');

h1{
  font-family: 'DynaPuff', cursive;
}
.try{
  font-size:21.6px;
  font-weight: 600;
}
.el{
    background: center / cover rgb(113, 194, 194);
    width:100px;
    height:100px;

    border-radius:10px;
    cursor:pointer;
    
    }
    body{
    background:greenyellow;
    text-align:center;
    
    }
    .main_frame{
      display:flex;
      flex-wrap:wrap;
      width: 550px;
      justify-content: center;
      gap: 10px;
      margin: 0 auto;
    }
    @media(min-width: 1100px){
      .main_frame{
        width: 1080px;
      }
      .el{
        width: 200px;
        height: 200px;
      }
    }

.timer{
  color:blueviolet;
  text-shadow: 5px 5px gold;
  font-size:50px;
  font-weight:100px;
}
.result{
  visibility:hidden;
  display:flex;
  position:absolute;
  margin: 0 auto;
  background: white;
  margin-left:568px;
  justify-content:center;
  align-items:center;
  border-radius:200px;
  color:black;
  border:solid 5px gray;
  transition:1s all;
  width: 300px;
  height: 300px;
}
